.roadmap-card {
  /* padding: 2rem; */
  background: var(--white);
  border-radius: 1rem;
  /* height: 100%; */
}

.is-mobile-roadmap-card {
  /* padding: 2rem; */
  background: var(--white);
  border-radius: 1rem;
  /* height: 100%; */
}

.roadmap-card-content {
  padding: 2rem;
}

.roadmap-top-row {
  padding-bottom: 2.4rem;
}

.roadmap-top-row,
.roadmap-item,
.roadmap-item-left-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.roadmap-item {
  padding: 0.8rem 0;
}

.roadmap-item-left-column {
  gap: 1rem;
}

.circle {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
}

@media screen and (max-width: 825px) {
  .roadmap-card {
    height: 100%;
  }
}
