.categories-list-div {
  /* height: 100%; */
  background: var(--white);
  border-radius: 1rem;
}

.mobile-categories-list-div {
  /* height: 100%; */
  background: var(--white);
  border-radius: 1rem;
}

.categories-list {
  padding: 2.4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

@media (max-width: 825px) {
  .is-column-categories-list-div {
    height: 100%;
  }

  .mobile-categories-list-div {
  }
}
