.modal-container {
  width: clamp(70%, 57rem, 90%);
  /* width: 54rem; */
  /* border: 3px solid green; */
  margin: 0 auto;
}

.modal {
  background: var(--graywhite);
  padding: 4rem;
  margin-top: 6rem;
  position: relative;
  /* border: 5px solid green; */
}

.modal-icon-div {
  border-radius: 50%;
  height: 5.6rem;
  width: 5.6rem;
  background-image: url("./assets/suggestions/desktop/background-header.png");
  background-size: cover;
  /* background: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -2.6rem;
  left: 2.4rem;
}

.modal-icon {
  position: relative;
  z-index: 5;
  height: 2rem;
}

.form-btns {
  /* justify-content: flex-end; */
  /* display: flex; */
  /* gap: 2rem; */
  /* flex-wrap: wrap; */
  /* border: 5px solid green; */
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 1050px) {
  .form-btns {
    justify-content: flex-start;
  }

  .form-btns button {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .form-btns {
    flex-direction: column;
  }

  .form-btns button {
    width: 100%;
  }
}
